body{
    background-image:url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-work-done-bg.png);
    background-size: cover;
    background-repeat:no-repeat;
    height:100vh;
}
.fsize{
    font-size:50px;
}