body{
    background-color:#3e4c59 !important;
 
}
.bgc{
    background-color: #323f4b !important;
}
.bgb{
    border:none !important;
}
.fc,.lc{
    color:#cced00;
}
.fc1{
color:#9aa5b1 !important;
} 
