.bgc{
    background-color: #0967d219;
}
.bg1{

    background-color:#3ebd93; 
}
.bg2{
    background-color: #e668a7;
}
.bg3{
    background-color: #a368fc;
}
.fdd{
    font-size: xx-large;
}
.f-light{
    color:white;
    font-style:bold;
}