
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@700&display=swap');
.cardb{
    background-color:#f6c56e!important;
}
.btn1{
    background-color:#ffffff!important;
    color:black;
    border:none;
    border-radius:20px;
    /* width:125px; */
}
p{
    color:#323f4b!important;
    font-family:roboto !important;
    font-weight:bolder;
}
h5{
    font-family:bree serif !important;
    font-weight:bolder;
}

